@media (prefers-color-scheme: dark) {
body {
    color:#fff;
    background:#ffffff
}}
:root {
     color-scheme: light only;
}
:root {
  --ion-color-primary: #4c73ff;
  // Tambahkan semua warna tema light di sini
}
:root {
  --font-primary:'Georgia', serif;
}