<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content color="light">
      <ion-list [inset]="true">
      <ion-item [button]="true">
        <ion-icon color="danger" slot="start" name="list-circle" size="large"></ion-icon>
        <ion-label>Buat Surat</ion-label>
        <ion-note slot="end"></ion-note>
      </ion-item>
      <ion-item [button]="true">
        <ion-icon color="tertiary" slot="start" name="list-circle" size="large"></ion-icon>
        <ion-label>Riwayat</ion-label>
        <ion-note slot="end"></ion-note>
      </ion-item>
      <ion-item [button]="true">
        <ion-icon color="success" slot="start" name="list-circle" size="large"></ion-icon>
        <ion-label>Status Pengajuan</ion-label>
        <ion-note slot="end"></ion-note>
      </ion-item>
      <ion-item [button]="true">
        <ion-icon color="warning" slot="start" name="list-circle" size="large"></ion-icon>
        <ion-label>Tanggal Cuti</ion-label>
        <ion-note slot="end"></ion-note>
       </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
      <ion-content>
        <ion-toolbar>
        <div style="display: flex; gap: 10px; justify-content: center;">
        <ion-button shape="square" style="color: white;">Submit</ion-button>
        <ion-button shape="square" style="color: white;">Submit</ion-button>
        <ion-button shape="square" style="color: white;">Submit</ion-button>
        </div>
        </ion-toolbar>
     </ion-content>
  </div>
</ion-app>    